apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  namespace: "{{ item.namespace }}"
  name: auth-takione-registry
spec:
  data:
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "{{ item.registry_external_secret_key }}"
        property: .dockerconfigjson
      secretKey: .dockerconfigjson
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: secretstore-takione
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    name: auth-takione-registry
    template:
      engineVersion: v2
      type: kubernetes.io/dockerconfigjson