apiVersion: v1
kind: Secret
metadata:
  name: aws-secrets-credentials
type: Opaque
data: # See https://github.com/external-secrets/kubernetes-external-secrets
  AWS_ACCESS_KEY_ID: {{ secrets.iam_user_aws_access_key_id | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ secrets.iam_user_aws_secret_access_key | b64encode }}
