apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: secretstore-takione
spec:
  provider:
    aws:
      service: SecretsManager
      region: {{ secrets.region }}
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: aws-secrets-credentials
            namespace: external-secrets
            key: AWS_ACCESS_KEY_ID
          secretAccessKeySecretRef:
            name: aws-secrets-credentials
            namespace: external-secrets
            key: AWS_SECRET_ACCESS_KEY
