[defaults]
inventory        = inventories/homelab.ini
roles_path       = roles
collections_paths = ~/.ansible/collections
host_key_checking = False
stdout_callback  = yaml
stderr_callback  = yaml

[privilege_escalation]
become       = yes
become_method = sudo
become_user  = root
